version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    # Optional: Raise pull requests for version updates
    # Note: Security updates are enabled by default for all repos
    open-pull-requests-limit: 10 
