name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  actions: read
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0

      - name: Test
        run: go test -v